<h1> This is the SECRET page </h1>

<ul>
    <li>
        <a href="/register">Sign Up</a>
        <a href="/login">Login</a>
        <a href="/logout">LogOut</a>
    </li>
</ul>

<p> You found me ! </p>

<img src="https://abrilsuperinteressante.files.wordpress.com/2011/11/susto.jpg">